body {
	background-image: url('images/lightpattern.jpg');
	font-family: "Times New Roman", Times, serif;
}

h1 {
	border-bottom: 3px solid black;
	font-size: 36px;
}

.container {
    width: 900px;
    margin: auto 
}