@font-face {
	font-family: "Times New Roman", Times, serif;
}

body {
	background-image: url('images/lightpattern.jpg');
}

main {
    width: 750px;
    margin: auto 
}

h1 {
	border-bottom: 5px solid black;
	font-size: 36px;
}

h3 {
	border-bottom: 1px solid black; 
}

.date {
	float: right;
}

.skills-1 {
	width: 175px;
	float: left;
	margin-bottom: 20px;
	font-style: italic;
}

.skills-2 {
	width: 575px;
	float: left;
	margin-bottom: 20px;
}